@charset "utf-8";

.event {
    padding-top: 16.9rem;
}

.event-list {
    padding-top: 8.4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 11.1rem 0;
}

.event-list > li {
    text-align: center;
    width: 43.2rem;
    height: 41.7rem;

    width: 28.4211%;
}

.event-list li figure {
    width: 100%;
    height: 31.8rem;
    border-radius: 2.4rem;
    overflow: hidden;
    transition: 0.4s;
}

.event-list li img {
    width: 100%;
    height: 100%;
}

.event-text {
    padding-top: 2.8rem;
}

.event-text dt {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--main-color3);
}

.event-text dd {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Darck-60);
}

.sns-con {
    display: none;
    padding-top: 1.8rem;
    /* transition: 0.4s; */
}

.sns-con a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sns-con a::before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.sns-con li:nth-child(1) a::before {
    background: var(--main-color) url(../img/foot-icon-1.svg) no-repeat center/50%;
}
.sns-con li:nth-child(2) a::before {
    background: var(--main-color) url(../img/foot-icon-2.svg) no-repeat center/50%;
}
.sns-con li:nth-child(3) a::before {
    background: var(--main-color) url(../img/foot-icon-3.svg) no-repeat center/50%;
}

.event-list li:hover figure {
    height: 20.6rem;
    border-radius: 2.4rem;
    overflow: hidden;
}

.event-list li:hover .sns-con {
    display: flex;

    justify-content: center;
    gap: 3.2rem;
}

/* course */

.course {
    position: relative;
    padding: 27.8rem 0 21.7rem;
    background: url(../img/course-bg.jpg) no-repeat 50% 58%;
}

.course-list {
    padding-top: 11.1rem;
}

.swiper-slide {
    width: 36.6rem !important;
}

.swiper-slide figure {
    width: 100%;
    height: 36.6rem;
    border-radius: 2rem;
    overflow: hidden;
}

.swiper-slide strong {
    display: flex;
    padding-top: 2.1rem;
    gap: 1rem;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: 700;

    color: var(--main-color3);
    transition: 0.4s;
}

.swiper-slide strong::after {
    content: "";
    display: block;
    width: 1.7rem;
    height: 4.5rem;
    background: url(../img/course-arrow.svg) no-repeat 50%;
}

.course-button-prev {
    position: absolute;
    top: 45%;
    left: 6.2rem;
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 100%;
    background: var(--main-color) url(../img/course-button.svg) no-repeat 45%;
    z-index: 1;
}

.course-button-next {
    position: absolute;
    top: 45%;
    right: 6.2rem;
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 100%;
    background: var(--main-color) url(../img/course-button.svg) no-repeat 45%;
    transform: rotate(180deg);
    z-index: 1;
}

.swiper-slide:hover figure {
    border: 10px solid var(--main-color);
    transform: scale(1.05); /* 강조 효과를 위한 크기 조정 */
    transition: transform 0.4s; /* 부드러운 전환 효과 */
}

.swiper-slide:hover strong {
    padding-top: 2.3rem;
    transform: scale(1.05); /* 강조 효과를 위한 크기 조정 */
    transition: transform 0.4s; /* 부드러운 전환 효과 */
    color: var(--main-color);
}

.swiper-slide:hover strong::after {
    content: "";
    display: block;
    width: 1.7rem;
    height: 4.5rem;
    background: url(../img/course-arrow-on.svg) no-repeat 50%;
}

/* more */
.more {
    background: url(../img/more-bg.jpg);
    height: 46.7rem;
}

.more-title h4 {
    padding-top: 11.5rem;
    font-weight: 800;
    font-size: 4rem;
    color: var(--Light-100);
    padding-bottom: 4rem;
}

.c-more-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 25.7rem;
    padding: 2rem 5rem;
    border-radius: 10rem;

    font-weight: 700;
    font-size: 2.5rem;
    color: var(--Light-100);
    background: var(--Darck-30);
}

.c-more-btn::after {
    content: "";
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    background: url(../img/more-arrow.svg) no-repeat 50%;
}

.c-more-btn:hover {
    color: var(--Light-100);
    background: var(--main-color);
}
