@charset "utf-8";

/* safety */
.safety {
    padding-top: 21.6rem;
}

.safety-title p {
    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;
    color: var(--main-color);
}

.safety-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15.5rem;
    margin-top: 4.8rem;
    border-radius: 4rem;
    background: var(--main-color3);
    padding: 7.7rem 10.1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Light-100);
}

.safety-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
}

.safety-list li::before {
    content: "";
    display: block;
    width: 7.9rem;
    height: 7.9rem;
    background: var(--Light-100) url(../img/check.svg) no-repeat 50%;
    border-radius: 100%;
}
/* safety end */

/* accident */
.accident {
    padding-top: 40rem;
}

.accident-con {
    display: flex;
    gap: 14.3rem;
}

.accident-title p {
    font-size: 2.5rem;
    font-weight: 700;

    color: var(--main-color);
}

.accident-title h3 {
    text-align: left;
}

.accident-list {
    display: flex;
    flex-direction: column;
    gap: 30rem;
}

.accident-list li {
    display: flex;
    gap: 2.4rem;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.accident-list li.on {
    opacity: 1;
}

.accident-list li.on figure {
    width: 31.9rem;
    height: 49.7rem;
    border-radius: 3rem;
    overflow: hidden;
}

.accident-list li.on .list-text {
    width: 53.5rem;
    padding: 6rem 4rem;
    border-radius: 3rem;
    background: var(--main-color);
    color: var(--Light-100);
}

.accident-list li figure {
    width: 31.9rem;
    height: 49.7rem;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.accident-list li.on figure {
    opacity: 1;
}

.list-text {
    width: 53.5rem;
    padding: 6rem 4rem;
    border-radius: 3rem;
    background: #ececec;
    color: #b0b0b0;
    transition: background 0.3s ease, color 0.3s ease;
}

.accident-list li.on .list-text {
    background: var(--main-color);
    color: var(--Light-100);
}

.list-text dt {
    font-weight: 800;
    font-size: 2.8rem;
}

.list-text dd {
    font-weight: 400;
    font-size: 2.2rem;
    padding-top: 2rem;
}
/* accident end */

/* review */
.review {
    padding: 35rem 0 22.9rem;
}

.review-title p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;

    color: var(--main-color);
}

.all-con {
    padding-top: 9rem;
    pointer-events: none;
}

.review-wrapper {
    transition-timing-function: linear;
    align-items: center;
    height: 28rem;
}

.review-all-2 {
    padding-top: 1rem;
}

.review-item {
    width: 40.5rem;
    height: 22.4rem;
    padding: 4.3rem 3rem;

    border-radius: 2.4rem;
    background: #ededed;
    box-shadow: 10px 24px 17px -19px rgba(0, 0, 0, 0.25);
}

.review-item::before {
    content: "";
    display: block;
    background: url(../img/star.svg);
    width: 16.6rem;
    height: 2.6rem;
}

.review-item dt {
    color: var(--Darck-60);
    font-weight: 300;
    font-size: 1.8rem;

    padding-top: 1.5rem;
}

.review-item dd {
    color: var(--Darck-100);
    font-weight: 600;
    font-size: 2rem;
}
/* review end */
