@charset "utf-8";

/* safety */
.safety {
    padding-top: 21.6rem;
    padding-top: 11.25%;
}

.safety-title p {
    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;
    color: var(--main-color);

    font-size: clamp(1.7rem, 1.3021vw, 2.5rem);
}

.safety-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15.5rem;
    margin-top: 4.8rem;
    border-radius: 4rem;
    background: var(--main-color3);
    padding: 7.7rem 10.1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Light-100);

    margin-top: 3.1579%;
    padding: 5.0658% 6.6447%;
    font-size: clamp(1.4rem, 1.3021vw, 2.5rem);
}

.safety-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
}

.safety-list li::before {
    content: "";
    display: block;
    width: 7.9rem;
    height: 7.9rem;
    background: var(--Light-100) url(../img/check.svg) no-repeat 50%;
    border-radius: 100%;
}
/* safety end */

/* accident */
/* 왼쪽이랑 오른쪽 넓이를 줘야함 그래야...응 부모값에 크기가 없던거임~  이상하게 반응형 값이 안들어간다면 부모에게 크기 값이 있는지 확인 하기*/
.accident {
    padding-top: 30rem;
    padding-top: 15.625%;
}

.accident-con {
    display: flex;
    gap: 14.3rem;
}

.accident-title1 {
    width: 49.9rem;
    width: 32.8289%;
}

.accident-title {
    position: sticky;
    top: 200px;
    top: 15%;
}

.accident-title p {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-color);

    font-size: clamp(1.7rem, 1.3021vw, 2.5rem);
}

.accident-title h3 {
    text-align: left;
}

.accident-list {
    display: flex;
    flex-direction: column;
    width: 87.8rem;
    gap: 30rem;

    width: 57.7632%;
}

.accident-list li {
    display: flex;
    gap: 2.4rem;
}

.accident-list li figure {
    width: 31.9rem;
    height: 49.7rem;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;

    width: 36.3326%;
}

.accident-list li .list-text {
    width: 53.5rem;
    padding: 6rem 4rem;
    border-radius: 3rem;
    background: var(--main-color);
    color: var(--Light-100);

    width: 60.9339%;
    padding: 6.8337% 4.5558%;
}

.list-text {
    width: 53.5rem;
    padding: 6rem 4rem;
    border-radius: 3rem;
    background: #ececec;
    color: #b0b0b0;
    transition: background 0.3s ease, color 0.3s ease;

    width: 60.9339%;
    padding: 6.8337% 4.5558%;
}

.accident-list li.on .list-text {
    background: var(--main-color);
    color: var(--Light-100);
}

.list-text dt {
    font-weight: 800;
    font-size: 2.8rem;

    font-size: clamp(1.2rem, 1.4583vw, 2.8rem);
}

.list-text dd {
    font-weight: 400;
    font-size: 2.2rem;
    padding-top: 2rem;

    padding-top: 3.7383%;
    font-size: clamp(0.9rem, 1.14583vw, 2.2rem);
}
/* accident end */

/* review */
.review {
    padding: 25rem 0 22.9rem;
}

.review-title p {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;

    color: var(--main-color);

    font-size: clamp(1.7rem, 1.3021vw, 2.5rem);
}

.all-con {
    padding-top: 9rem;
    pointer-events: none;

    padding-top: 4.6875%;
}

.review-wrapper {
    transition-timing-function: linear;
    align-items: center;
    height: 28rem;
}

.review-all-2 {
    padding-top: 1rem;

    padding-top: 0.5208%;
}

.review-item {
    width: 40.5rem;
    height: 22.4rem;
    padding: 4.3rem 3rem;

    border-radius: 2.4rem;
    background: #ededed;
    box-shadow: 10px 24px 17px -19px rgba(0, 0, 0, 0.25);

    width: 21.0938%;
    padding: 2.2396% 1.5625%;
}

.review-item::before {
    content: "";
    display: block;
    background: url(../img/star.svg) no-repeat 50%;
    width: 16.6rem;
    height: 2.6rem;
}

.review-item dt {
    color: var(--Darck-60);
    font-weight: 300;
    font-size: 1.8rem;
    padding-top: 1.5rem;

    font-size: clamp(0.8rem, 0.78125vw, 1.5rem);
}

.review-item dd {
    color: var(--Darck-100);
    font-weight: 600;
    font-size: 2rem;

    font-size: clamp(1rem, 1.0416vw, 2rem);
}
/* review end */
