@charset "utf-8";

/* safety */
.safety {
    padding-top: 21.6rem;
}

.safety-title p {
    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;
    color: var(--main-color);
}

.safety-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15.5rem;
    margin-top: 4.8rem;
    border-radius: 4rem;
    background: var(--main-color3);
    padding: 7.7rem 10.1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Light-100);
}

.safety-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
}

.safety-list li::before {
    content: "";
    display: block;
    width: 7.9rem;
    height: 7.9rem;
    background: var(--Light-100) url(../img/check.svg) no-repeat 50%;
    border-radius: 100%;
}
/* safety end */

/* accident */
.accident {
    padding-top: 33.6rem;
}

.accident-con {
    display: flex;
    gap: 14.3rem;
}

.accident-title p {
    font-size: 2.5rem;
    font-weight: 700;

    color: var(--main-color);
}

.accident-title h3 {
    text-align: left;
}

.accident-list {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.accident-list li {
    display: flex;
    gap: 2.4rem;
}

.accident-list li figure {
    width: 31.9rem;
    height: 49.7rem;
    border-radius: 3rem;
    overflow: hidden;
}

.list-text {
    width: 53.5rem;
    padding: 6rem 4rem;
    border-radius: 3rem;
    background: var(--main-color);
    color: var(--Light-100);
}

.list-text dt {
    font-weight: 800;
    font-size: 2.8rem;
}

.list-text dd {
    font-weight: 400;
    font-size: 2.2rem;
    padding-top: 2rem;
}

/* accident end */
